/*
Author:  Nabeel;
Company: Four Brothers Software Solution;
*/

@import url('https://fonts.googleapis.com/css?family=Comfortaa');

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	font-family: 'Comfortaa', cursive;
	width: 100%;
}

.logo {
	width: 160px;
}

.bg-primary {
	background: #4f0001 !important;
	background: -moz-linear-gradient(top, #4f0001 0%, #4f0001 16%, #752201 49%, #752201 49%, #752201 78%, #752201 94%) !important;
	background: -webkit-linear-gradient(top, #4f0001 0%,#4f0001 16%,#752201 49%,#752201 49%,#752201 78%,#752201 94%) !important;
	background: linear-gradient(to bottom, #4f0001 0%,#4f0001 16%,#752201 49%,#752201 49%,#752201 78%,#752201 94%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f0001', endColorstr='#752201',GradientType=0 );
}

.text-primary {
	color: #4f0001 !important;
}

.initialism {
	font-size: 70%;
	text-transform: uppercase;
	margin: 5px 0px 0px 0px;
}

.border-bottom {
	border-bottom: 1px solid #d8d8d8 !important;
}
.bb-primary {
	border-bottom: 1px solid #4f0001;
}

.border-bottom2 {
	border-bottom: 2px solid #b9b9b9 !important;
}

.title {
	letter-spacing: 1px;
	color: #ffffff;
	font-size: 20px;
}

.content {
	height: auto;
	margin: 60px 0px;
}

footer img {
	width: 35px;
}

.btn-plus {
	right: 20px;
	bottom: 100px;
	width: 50px;
}

.btn-reset {
	left: 20px;
	bottom: 100px;
	width: 50px;
}

.form-control {
	border: none;
	margin: 8px 0px;
}
.login-body {
	background: #7dbe96;
	background: -moz-linear-gradient(-45deg, #7dbe96 0%, #905a63 100%);
	background: -webkit-linear-gradient(-45deg, #7dbe96 0%,#905a63 100%);
	background: linear-gradient(135deg, #7dbe96 0%,#905a63 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7dbe96', endColorstr='#905a63',GradientType=1 );
	background-attachment: fixed;
}

@media (min-width: 768px) {
	.content {
		height: auto;
		margin: 120px 0px;
	}
}

.table th {
	border-top: none;
	border-right: 1px solid #dee2e6 !important;
}

.table td {
	border-top: 1px solid #4f0001 !important;
	border-right: 1px solid #dee2e6 !important;
}

.table thead th {
	border-bottom: 2px solid #4f0001;
}

.table th:last-child  ,.table td:last-child{
	border-right: none !important;
}

.checkbox {
	display: block;
	margin: 10px 0;
}

.checkbox input {
	padding: 0;
	height: initial;
	width: initial;
	margin-bottom: 0;
	display: none;
	cursor: pointer;
}

.checkbox label {
	position: relative;
	cursor: pointer;
}
.checkbox label:before {
	content:'';
	-webkit-appearance: none;
	background-color: transparent;
	border: 2px solid #4f0001;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
	padding: 15px;
	display: inline-block;
	position: relative;
	vertical-align: top;
	cursor: pointer;
	margin-right: 10px;
}


.checkbox input:checked + label:after {
	content: '';
	display: block;
	position: absolute;
	top: 9px;
	left: 16px;
	width: 6px;
	height: 14px;
	border: solid #4f0001;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
}

.nav-justified {
	margin-right: -15px;
	margin-left: -15px;
	background: #4f0001;
	padding: 1px;
}

.nav-justified a {
	color: #ffffff;
}

.nav-tabs .nav-link {
	border-radius: 0;
}
.nav-tabs .nav-item {
	margin-bottom: 0px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	color: #ffffff;
	background: #a50603;
	background: -moz-linear-gradient(top, #a50603 0%, #a50603 7%, #ff7063 100%);
	background: -webkit-linear-gradient(top, #a50603 0%,#a50603 7%,#ff7063 100%);
	background: linear-gradient(to bottom, #a50603 0%,#a50603 7%,#ff7063 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a50603', endColorstr='#ff7063',GradientType=0 );
}

.loader {
	border: 5px solid #f3f3f3; /* Light grey */
	border-top: 5px solid #a50603; /* Blue */
	border-radius: 50%;
	width: 100px;
	height: 100px;
	animation: spin 2s linear infinite;
	position: fixed;
	/* margin-left: auto; */
	/* margin-right: auto; */
	left: 35%;
	top: 35%;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.btn-sm { padding: 0.15rem 0.15rem; }

.select2-container--default .select2-selection--single {
	background-color: #fff;
	border: none;
	border-radius: 0px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #7d858c;
    line-height: 28px;
    margin: 12px 0 0 8px;
    font-size: 20px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
	top: 15px;
}
